head{
    background-color: #363636;
}

body{
    background-color: #363636;
}

h1{
    color: #7289da;
}
/*	
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 

 
 .blue {
   color: #7289da;
 }
 .yellow {
   color: #7289da;
 }
 
 .container th h1 {
   font-weight: bold;
   font-size: 1em;
   text-align: left;
   color: #000000;
 }
 
 .container td {
   font-weight: normal;
   font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0e1119;
   -moz-box-shadow: 0 2px 2px -2px #0e1119;
   box-shadow: 0 2px 2px -2px #0e1119;
 }
 
 .containerrr {
   text-align: left;
   overflow: hidden;
   width: 80%;
   margin: 0 auto;
   display: table;
   padding: 0 0 8em 0;
 }
 
 .containerrr td,
 .containerrr th {
   padding-bottom: 2%;
   padding-top: 2%;
   padding-left: 2%;
 }
 
 /* Background-color of the odd rows */
 .containerrr tr:nth-child(odd) {
   background-color: #323c50;
 }
 
 /* Background-color of the even rows */
 .containerrr tr:nth-child(even) {
   background-color: #7289da;
 }
 
 .containerrr th {
   background-color: #363636;
 }
 
 .containerrr td:first-child {
   color: #000000;
 }
 
 .containerrr tr:hover {
   background-color: rgb(255, 255, 255);
   -webkit-box-shadow: 0 6px 6px -6px rgb(255, 255, 255);
   -moz-box-shadow: 0 6px 6px -6px rgb(255, 255, 255);
   box-shadow: 0 6px 6px -6px rgb(255, 255, 255);
 }
 
 .containerrr td:hover {
   background-color: rgb(255, 255, 255);
   color: grey;
   font-weight: bold;
 
   box-shadow: rgb(255, 255, 255) -1px 1px, rgb(255, 255, 255) -2px 2px, rgb(255, 255, 255) -3px 3px,
   rgb(255, 255, 255) -4px 4px, rgb(255, 255, 255) -5px 5px, rgb(255, 255, 255) -6px 6px;
   transform: translate3d(6px, -6px, 0);
 
   transition-delay: 0s;
   transition-duration: 0.4s;
   transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
   .containerrr td:nth-child(4),
   .containerrr th:nth-child(4) {
     display: none;
   }
 }
 
 img {
  -webkit-animation: mover 1.5s infinite  alternate; 
  animation: mover 1.5s infinite  alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 50%;
  box-shadow: 12px 12px 12px #000000;
}
  @-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
  }
  
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

