h2 {
	display:flex;
	position: relative;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

h2:after {
	content: "This is Purified";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);
